<script type="text/x-handlebars-template">
    <a href="https://github.com/{{event.repo.name}}/commits/{{branchName event}}" target="{{default target "_blank"}}" class="btn branch {{default class "btn-xs btn-blue-grey"}}">
        <i class="fa fa-code-fork">&nbsp;</i>{{branchName event}}
    </a>
</script>

