<script type="text/x-handlebars-template">
    <div class="github-events-commits-popover">
        <div>
            <h4>{{event.actor.login}}</h4>
            <span class="commit-desc"> Pushed {{event.payload.size}} commits. </span>
            <div class="commit-info">
                <i class="fa fa-github"></i>
                <span>{{event.repo.name}}</span>
            </div>
            <div class="commit-info">
                <i class="fa fa-code-fork"></i>
                <span>{{branchName event}}</span>
            </div>
        </div>

        <ul class="commit-commits">
            {{#each commits}}
            <li class="{{evenOdd @index 'in' 'out'}}">
                <img class="avatar" src="{{author.avatar_url}}" alt="Avatar" />
                <div class="commit-message">
                    <span class="arrow"></span>
                    <a href="#" class="commit-author">{{commit.author.name}}</a>
                    <span class="pull-right">
                    <span class="label label-success">+{{stats.additions}}</span>
                    <span class="label label-danger">-{{stats.deletions}}</span>
                        </span>
                    <br>
                    <span class="commit-body">{{commit.message}}</span>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</script>
