<script type="text/x-handlebars-template">
    <div data-username="{{user.login}}" class="{{options.className}}">
        {{#if options.showProfile}}
            <div class="profile">
                <img src="{{user.avatar_url}}" class="avatar">
                <a href="{{user.html_url}}" class="name">{{user.name}}</a>

                <div class="followMe">
                    <a href="{{user.html_url}}" class="follow-button">Follow @{{user.login}}</a>
                    <span class="followers">{{user.followers}}</span>
                </div>
            </div>
        {{/if}}
        {{#if options.showLanguages}}
            <div class="languages">
                {{#if options.languagesHeaderText}}<span class="header">{{options.languagesHeaderText}}</span>{{/if}}
                <table class="languages-list">
                    <thead>
                    <tr>
                        <th>Language</th>
                        <th>Lines of code</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each languages}}
                        <tr>
                            <td>{{arrayIndex this 0}}</td>
                            <td>
                                <small>{{arrayIndex this 1}}</small>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        {{/if}}

        {{#if options.showRepositories}}
            <div class="repos">
                {{#if options.repositoriesHeaderText}}<span class="header">{{options.repositoriesHeaderText}}</span>{{/if}}
                {{#each repositories}}
                    <a href="{{html_url}}" class="repo-link" data-repository="{{name}}" title="{{description}}">
                        <span class="repo-name">{{name}}</span><span class="updated">Updated: {{updated_at_formatted}}</span><span class="star">{{stargazers_count}}</span>
                    </a>
                {{/each}}
            </div>
        {{/if}}
    </div>
</script>
