<script type="text/x-handlebars-template">
    <div  class="{{options.className}}" style="height: {{options.height}}px;">
            <table>
                {{#each events}}
                <tr data-event-id="{{id}}" data-event-index="{{@key}}" class="gh-event">
                    <td class="gh-events-icon">
                        <div class="label label-sm label-{{iconColor}}">
                            <i class="{{icon}}"></i>
                        </div>
                    </td>
                    <td class="gh-events-text">{{{text}}}</td>
                    <td class="gh-events-time"><time datetime="{{timeAgo}}">{{timeAgo}}</time> <i class="fa fa-clock-o"></i></td>
                </tr>
                {{/each}}
            </table>
    </div>
</script>
