<script type="text/x-handlebars-template">
    <a href="{{default href "#"}}" target="{{default target "_blank"}}" class="tagged {{default class "label label-xs label-green badge"}}" title="{{description}}">
        {{#if icon}}<i class="fa fa-tag"></i>{{/if}} {{tag}}</a>
</script>
