<script type="text/x-handlebars-template">
    <a href="{{default href "javascript:;"}}" data-github-event="{{event.id}}" target="{{default target "_blank"}}"
       title="Commit details" class="commits btn {{default class "btn-xs btn-teal"}}">
        {{event.payload.size}} commit{{pushName event}}
    </a>
</script>

